@font-face {
  font-family: "Rubik";
  src: url('../assets/fonts/rubik/Rubik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Rubik";
  src: url('../assets/fonts/rubik/Rubik-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "Rubik";
  src: url('../assets/fonts/rubik/Rubik-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

html,
body {
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #121314;
  width: 50%;
}

a {
  color: inherit;
  text-decoration: none;
  color: #0366d6;
}

main {
  padding: 40px 0 40px 20%;
}

section {
  font-size: 1.2em;
}

@media only screen and (max-width: 1000px) {
  body {
    width: 80%;
  }

  main {
    padding: 40px 10%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  main {
    padding: 40px 10%;
  }
}

